html {
  /* this makes sure the padding and the border is included in the box sizing */
  margin: 0;
  overflow: overlay;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-color: #000108;
  background-image: linear-gradient(#000000, rgb(4, 9, 31) 70%, #061d54);
}

.container {
  height: 100%;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 16rem;
  align-items: center;
  justify-content: center;
}

.capslock {
  color: rgb(189, 87, 83);
  font-size: small;
  margin: auto;
  padding: 1rem;
  width: 750px;
  font-family: "Source Code Pro", monospace;
}

.right.character {
  /* background-color: rgb(127, 255, 195); */
  color: #cee2ff;
  transition: all 0.15s linear;
}

.caret {
  position: absolute;
  height: 32px;
  width: 2.3px;
  background-color: white;
  transition: 130ms ease;
  line-height: 2.5rem;
  transform: translateX(-3.5px);
}

.wrong.character {
  background-color: rgb(255, 102, 128);
  transition: all 0.15s linear;
}

#missed-characters {
  color: rgb(255, 102, 128);
}

.character {
  /* padding: 0 0.03rem; */
  font-size: 1.4rem;
  font-family: "Source Code Pro", monospace;
  color: rgba(20, 49, 138, 0.767);
  white-space: break-spaces;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.big.character {
  font-size: 1.6rem;
}

.ThockeyLogo {
  color: #2654b8;
  width: 50%;
  margin: auto;
  padding: 5rem 0 5rem 0;
  text-align: center;
  font-size: 4rem;
  font-family: "Pacifico", cursive;
}

.game_container {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

.background {
  position: fixed;
  z-index: -1;
}

.button {
  display: flex;
  position: relative;
  font-weight: 400;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  background-color: #1324b810;
  border: 1px solid #060f66;
  cursor: pointer;
  outline: 0;
  margin: 0.5rem;
  transition: all 200ms linear;
  color: #1324b8;
}

.button.selected {
  color: #f5ef7a;
  border: 1px solid #53531f;
}

.button:hover {
  background-color: #0c225e;
  transition: 100ms ease;
}

.button.selected:hover {
  background-color: #3b4907;
  transition: 100ms ease;
}

.words-container {
  background-color: #1324b810;
  margin: 0.5rem 0rem;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: left;
  line-height: 2.5rem;
  border: 1px solid rgb(1, 7, 70);
  overflow: hidden;
  transition: all 100ms ease-in;
}

.blink {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  33% {
    background-color: rgb(122, 150, 201);
  }
}
