@media only screen and (max-width: 600px) {
  .ThockeyLogo {
    color: #2654b8;
    width: 50%;
    margin: auto;
    padding: 3rem 0 3rem 0;
    text-align: center;
    font-size: 3rem;
    font-family: "Pacifico", cursive;
  }

  .words-content-container {
    padding: 1rem;
  }

  .words-container {
    width: auto;
    background-color: #1324b810;
    margin: 1rem;
    border-radius: 0.5rem;
    text-align: left;
    line-height: 2.5rem;
    border: 1px solid rgb(1, 7, 70);
    overflow: hidden;
    transition: all 100ms ease-in;
  }

  .game-container {
    display: flex;
    flex-direction: column;
    margin: 0rem 0rem 5rem 0rem;
  }

  .button-container {
    transition: all 200ms ease;
    flex-direction: row;
    display: flex;
  }

  #reset-label {
    color: #1324b8;
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    align-items: center;
    font-weight: 600;
    opacity: 0;
    transition: all 500ms ease;
  }
}
