.App {
  text-align: center;
}

.capslock {
  color: rgb(189, 87, 83);
  font-size: small;
  margin: auto;
  padding: 1rem;
  width: 750px;
  font-family: "Roboto", sans-serif;
}

.right.character {
  /* background-color: rgb(127, 255, 195); */
  color: #cee2ff;
  transition: all 0.15s linear;
}

.caret {
  height: 29px;
  width: 3px;
  background-color: white;
  position: fixed;
  transition: 130ms ease;
  line-height: 2.5rem;
  transform: translateX(-3.5px);
}

.wrong.character {
  background-color: rgb(255, 102, 128);
  transition: all 0.15s linear;
}

.character {
  /* padding: 0 0.03rem; */
  font-size: 1.2rem;
  font-family: "Source Code Pro", monospace;
  color: rgba(39, 63, 136, 0.767);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.ThockeyLogo {
  color: #2654b8;
  width: 50%;
  margin: auto;
  padding: 5rem 0 5rem 0;
  text-align: center;
  font-size: 4rem;
  font-family: "Pacifico", cursive;
}

.game_container {
  display: flex;
  flex-direction: row;
  width: 720px;

  margin: auto;
  justify-content: center;
}

.background {
  position: absolute;
  z-index: -1;
}

.smallStar {
  position: absolute;
  background-color: white;
  animation: smallRise 5s linear infinite;
}

@keyframes smallRise {
  from {
    transform: translateY(-30%);
  }
  to {
    transform: translateY(100%);
  }
}

.button {
  display: flex;
  position: relative;
  font-weight: 400;
  font-size: 1rem;
  height: 1.7rem;
  width: 1.7rem;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: 1px solid #202637;
  cursor: pointer;
  outline: 0;
  background-color: #0c162d;
  margin: 0.5rem;
  transition: all 200ms linear;
  color: #82b0be;
}

.button.selected {
  color: #f5ef7a;
  border: 1px solid #373720;
}

.button:hover {
  background-color: #0c225e;
  transition: 100ms ease;
}

.button.selected:hover {
  background-color: #3b4907;
  transition: 100ms ease;
}

.words-container {
  background-color: #1324b857;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: left;
  line-height: 2rem;
  border: 1px solid rgb(1, 7, 70);
  overflow: hidden;
  transition: all 100ms ease-in;
}

body {
  background-color: #000108;
  overflow: hidden;
}

.blink {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  33% {
    background-color: rgb(122, 150, 201);
  }
}
