.App {
  text-align: center;
}

.capslock {
  color: rgb(189, 87, 83);
  font-size: small;
  margin: auto;
  padding: 1rem;
  width: 750px;
  font-family: "Roboto", sans-serif;
}

.right.character {
  /* background-color: rgb(127, 255, 195); */
  color: #82b0be;
  transition: all 0.15s linear;
}

.caret {
  height: 29px;
  width: 3px;
  background-color: rgba(255, 255, 255, 0.363);
  position: fixed;
  transition: 200ms cubic-bezier(0, 0, 0.59, 1.4);
  line-height: 2.5rem;
}

.wrong {
  background-color: rgb(255, 131, 127);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.33, 2);
}

.character {
  /* padding: 0 0.03rem; */
  font-size: 1.3rem;
  font-family: "Source Code Pro", monospace;
  color: #202637;
}

.ThockeyLogo {
  color: #5a8ea7;
  width: 50%;
  margin: auto;
  padding: 5rem 0 5rem 0;
  text-align: center;
  font-size: 4rem;
  font-family: "Pacifico", cursive;
}

.game_container {
  width: 750px;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.background {
  position: absolute;
  z-index: -1;
}

.smallStar {
  position: absolute;
  background-color: white;
  animation: smallRise 5s linear infinite;
}

@keyframes smallRise {
  from {
    transform: translateY(-30%);
  }
  to {
    transform: translateY(100%);
  }
}

.restart {
  position: relative;
  float: right;
  font-weight: 400;
  font-size: 1.3rem;
  height: 2rem;
  transition: all 200ms linear;
  border-radius: 50%;
  width: 2rem;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  border: 1px solid #202637;
  cursor: pointer;
  outline: 0;
  background-color: #0c162d;
  margin: 0.5rem;
}

.restart:hover {
  background-color: #0c225e;
  transition: 100ms ease;
}

.words {
  background-color: #0c162d;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: left;
  line-height: 2rem;
  border: 1px solid #202637;
}

body {
  background-color: #1c166d;
  overflow: hidden;
}

.blink {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  33% {
    background-color: rgb(157, 158, 230);
  }
}
